* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/************************************* HEADER *************************************/
header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

header,
nav {
  text-align: center;
}

input {
  border: 0;
  border-bottom: 1px solid grey;
  padding-bottom: 0.1rem;
}
input:focus {
  outline: none;
}

/************************************* MAIN *************************************/

main {
  margin-top: 2rem;
  width: 100vw;
}

.container {
  margin: 0 auto;
  /* padding-top: 2rem; */
  width: 95%;
  /* border-top: 1px solid black; */
  /* border-bottom: 1px solid black; */
  /* border: 2px solid #0000dd; */
}
/* FLIP CARD START*/
.scene {
  height: 100%;
  width: 100%;
  /* height: 100vh; */
  /* border: 2px solid green; */
  perspective: 2000px;
  background-color: lightpink;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card .card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .card-back {
  transform: rotateY(180deg);
  background-color: seagreen;
}

.card .card-front {
  background-color: salmon;
}

.card-is-flipped {
  transform: rotateY(180deg);
}
/* FLIP CARD END */

/* REMOVE AFTER TESTING */

#artwork-image img {
  display: block;
  width: 100%;
}

.calendar-info {
  display: flex;
  height: 120px;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 0;
  background-color: lightgrey;
}

.calendar-info .date-container {
  display: flex;
  align-items: flex-end;
}

.calendar-info .number {
  /* border-bottom: 1px solid red; */
  display: inline-block;
  line-height: 0.66;
  /* backface-visibility: hidden; */
  /* position: relative; */
  /* bottom: -17px; */
  font-size: 5rem;
  padding-right: 0.5rem;
}

.calendar-info .weekday,
.calendar-info .month {
  font-style: italic;
  /* border-bottom: 1px solid red; */
}

/************************************* MOBILE *************************************/
@media screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
}
