* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}
/************************************* HEADER *************************************/
header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

header,
nav {
  text-align: center;
}

input {
  border: 0;
  border-bottom: 1px solid grey;
  padding-bottom: 0.1rem;
}
input:focus {
  outline: none;
}

/************************************* MAIN *************************************/

main {
  margin-top: 2rem;
  width: 100vw;
}

.container {
  /* margin: 0 auto; */
  /* width: 95%; */
  width: 100%;
  /* border-top: 1px solid black; */
  /* padding-top: 1rem; */
  /* border: 1px solid red; */
}

/* FLIP CARD SETUP*/
.scene {
  height: 100%;
  width: 100%;
  perspective: 2000px;
  /* background-color: lightpink; */
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
  /* background-color: seagreen; */
}

.card-is-flipped {
  transform: rotateY(180deg);
}

/* CARD FRONT */
#artwork-image {
  display: block;
  width: 100%;
}

.calendar-info {
  display: flex;
  height: 7rem;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 1rem 1rem 0.5rem;
  border-bottom: 1px solid black;
  /* background-color: lightgrey; */
}

.calendar-info .date-container {
  display: flex;
  align-items: flex-end;
}

.calendar-info .number {
  backface-visibility: hidden;
  position: relative;
  /* left: -0.5rem; */
  bottom: -1rem;
  font-size: 5rem;
  margin-right: 0.5rem;
}

.calendar-info .weekday,
.calendar-info .month {
  font-style: italic;
  padding-right: 2rem;
  /* border-bottom: 1px solid red; */
}

/* CARD BACK */
.card-back {
  /* padding: 1.5rem; */
  padding: 0.5rem;
}

.card-back .artwork-info {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 0.5rem 0;
}

.card-back .info-item {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}

.card-back dt {
  font-weight: 700;
}

dt:after {
  content: ": ";
}

.card-back .info-item dd {
  width: 200px;
  text-transform: capitalize;
}

.card-back .artwork-description {
  margin: 2rem 0;
}

.card-back .artwork-description h3 {
  margin-bottom: 0.5rem;
}

.card-back .footer {
  border-top: 1px solid black;
}

/* SEARCH RESULTS */
.search-results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  /* justify-content: space-between; */
  list-style: none;
  margin-left: 1rem;
  margin-right: 1rem;

  /* height: 1500px; */
}

.search-results .result-container {
  display: flex;
  /* align-items: flex-end; */
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
  transition: box-shadow 0.5s;
  border-bottom: 1px solid darkgray;
}

.search-results .result-container:hover {
  box-shadow: 0px 3px 3px #8888;
}

.search-results .result img {
  display: block;
  width: 100%;
}

.search-results .result {
  width: 100%;
}

.search-results .result-container p {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/************************************* TABLET *************************************/
@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }

  .search-results {
    /* flex-direction: row; */
    margin-right: 0;
  }

  .search-results .result-container {
    width: calc(33.33% - 1rem);
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .search-results .result-container img {
    height: 300px;
    object-fit: cover;
  }

  .search-results .result-container p {
    font-size: 1.2rem;
  }
}

/************************************* DESKTOP *************************************/

@media screen and (min-width: 1000px) {
  .search-results .result-container {
    width: calc(25% - 1rem);
  }
}
